/* Global */
:root{
    /* Color */
    --color-white:#FFFFFF;
    --color-aliceblue:#F0F8FF;
    --color-beige:#F5F5DC;
    --color-black:#000000;
    --color-gainsboro:#DCDCDC;
    --color-Tastefully_Made_Mint_Julep:#CFF5CB;
    --color-lightyello:#FFFFE0;
    /* Font Size */
    --font-large: 48px;
    --font-medium: 28px;
    /*Font weight */

    /* size */

}