/* Global */
:root{
    /* Color */
    --color-white:#FFFFFF;
    --color-aliceblue:#F0F8FF;
    --color-beige:#F5F5DC;
    --color-black:#000000;
    --color-gainsboro:#DCDCDC;
    --color-Tastefully_Made_Mint_Julep:#CFF5CB;
    --color-lightyello:#FFFFE0;

    /* Font Size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-mocro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;


    /* size */

}

/* Universal tage */
*{
    box-sizing: border-box;
}

/* Typography */
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    
}