/* Global */
:root{
    /* Color */
    --color-white:#FFFFFF;
    --color-aliceblue:#F0F8FF;
    --color-beige:#F5F5DC;
    --color-black:#000000;
    --color-gainsboro:#DCDCDC;
    --color-Tastefully_Made_Mint_Julep:#CFF5CB;
    --color-lightyellow:#FFFFE0;
    --color-lightgreen:#BFE7B5;

    /* Font Size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-mocro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;


    /* size */
    --size-bolder-radius: 4px;
}

/* Universal tage */
*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    cursor: default;
}

a{
    text-decoration: none;
    color: var(--color-black);
}

ul{
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Typography */
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}

h2{
    font-size: var(--font-medium);
    font-weight: var(--font-semi-bold);
    color: var(--color-black);
    margin: 8px 0;

}

h3{
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p{
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 84px 0;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-beige);
    align-items: center;
    color: var(--color-black);
    padding: 10px;
}

.navbar__menu {
    display: flex;
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-bolder-radius);
}

.navbar__menu__item.active {
    border:1px 
    solid var(--color-white);
}

.navbar__menu__item:hover {
    background-color: var(--color-lightyellow);
}

/* Home */
#home {
    background: url('imgs/home-backgraound.png') center/cover no-repeat;
    padding:40px;
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.home__title,
.home__description {
    color: var(--color-black);
}

.home__contact {
    color: var(--color-black);
    font-size: var(--font-regular);
    font-weight: var(--font-border);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-black);
    border-radius: var(--size-bold);
    border-radius: 4px;
}

.home__contact:hover {
    background-color: var(--color-lightyellow);
}

